<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1">
    <title>All Orders</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script> 
<!--script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>-->
</head>
<body class ="col-lg-12" style="background-image:url('/images/background.jpg'); background-repeat: no-repeat; background-position: center; background-size: cover">
    <!--Begin header area with navigation bar-->
<nav class="head  navbar-default">
  <div class="container-fluid">
    <div class="navbar-header"style=" width:20%;">
    <img src="images/logo.png" class="fl img-responsive" width="100" height="60" />
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#Navbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      
      <!--<a class="navbar-brand" href="/" id="websitename">Foodie</a>-->
    </div>
    <div class="collapse navbar-collapse" id="Navbar">
        <ul class="nav navbar-nav navbar-right" style="display:inline-block; font-size:15px;padding-right:20px;padding-top: 10px; text-align:center; border:5px #f46542; border-radius:5px;">   
             
             <li><a href="/"><button class="btn btn-lg btn-success">Logout</button></a></li>
    </ul>
    
  </div>
  </div>
</nav>
        
        <div class="col-lg-12" style="padding: 1%; border-radius: 10px; text-align:center">
            <div class="col-lg-12" style=" padding: 0.5%; height: auto;background: white; text-align:center">
                <table class="table table-hover h-scroll">
                    <thead class="thead-default">
                        <tr>
                            <th>Order #</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% orders.forEach(function (details) { %>
                            <tr>  
                        
                	           <td><b>Order #<%= details.order_id %></b></td>  
                	           <td>
                                    <div>
                                    <a href="/orderStatus">
    						          <button type="button" class="btn btn-md btn-success">View Order Status</button></a>
                                  </div>
                                </td>
            	           </tr>                                   
         		     <% }) %>
     		     </tbody>
                </table>
    </div>
</div>
</div>
</body>
</html>