<!DOCTYPE html>
<html>
<style type="text/css">
  .loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 80px;
  height: 80px;
  margin-left: 800px; 
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
</style>
<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0">
<head>
    <title>Order Status</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script> 
</head>

<body class="col-lg-12" style="background-image: url('/images/orderpg.jpg'); height:auto; background-repeat: no-repeat; background-position: center; background-size: cover; background-origin: center ; ">
  <nav class="head  navbar-default">
  <div class="container-fluid">
    <div class="navbar-header"style=" width:20%;">
    <a href="/getallRestaurants"> 
      <img src="images/logo.png" class="fl img-responsive" width="100" height="60" />
    </a>
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#Navbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      
    </div>
    <div class="collapse navbar-collapse" id="Navbar">
        <ul class="nav navbar-nav navbar-right" style="display:inline-block; font-size:15px;padding-right:20px;padding-top: 10px; text-align:center; border:5px #f46542; border-radius:5px">    
             <li><a href="/"><button class="btn btn-lg btn-success">Logout</button></a></li>
    </ul>
  </div>
  </div>
</nav>
<div class="p-3 mb-2 bg-white text-dark">
   <h1 class="text-center" style="margin: 10px; background-color: transparent ; padding: 20px">Order #<%= order[0].order_id %> </h1>
</div>
<div class="text-center text-center" style="margin: 10px;background-color: transparent">
   <div class="loader"></div><h3>Waiting for Restaurant to confirm... <br>
 </h3>
</div>
<script>
  setTimeout(function () {
     window.location = '/orderStatus';
  }, 10000);
</script>
</body>
</html>