<!--Begin header area with navigation bar-->
<nav class="head  navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
	<img src="images/logo.png" class="fl img-responsive"/>
	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#Navbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
	  
      <!--<a class="navbar-brand" href="/" id="websitename">Foodie</a>-->
    </div>
	<div class="collapse navbar-collapse" id="Navbar">
        
        <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
            <a class="dropbtn">Register</a>
                <div class="dropdown-content">
                  <a href="/CustomerRegisteration">Customer</a>
                  <a href="/RestaurantRegister">Restaurant</a>
                  <a href="/DeliveryBoyRegister">Delivery Agent</a>
                </div>
        </li>

      
	         <li><a href="/Login"> Login</a></li>
    </ul>
	
  </div>
  </div>
</nav>
<div class="clr"></div>

